<!--added remote: true to allow ajax to execute a POST request-->
<%= form_for [@user, @thermometer] do |t| %>

    <p><%= t.label "location " %></p>
    <p><%= t.text_field :location %></p>

    <p><%= t.label "temperature" %></p>
    <p><%= t.text_field :temperature %></p>

    <p><%= t.submit :id => "thermometer_new" %></p>

<% end %>