<!--added remote: true to allow ajax to execute a POST request-->
<%= form_for [@user, @thermometer] do |t| %>

    <p><%= t.label "location " %></p>
    <p><%= t.text_field :location %></p>

    <p><%= t.label "Max temperature" %></p>
    <p><%= t.text_field :maxTemp %></p>

    <p><%= t.label "Min temperature" %></p>
    <p><%= t.text_field :minTemp %></p>

    <p><%= t.submit :id => "thermometer_new" %></p>

<% end %>