<!--form for new thermometer-->
<!--@user is the main object-->
<%= form_for [@user, @thermometer] do |t| %>

    <p><%= t.label "location " %></p>
    <p><%= t.text_field :location %></p>

    <p><%= t.label "temperature" %></p>
    <p><%= t.text_field :temperature %></p>

    <p><%= t.submit %></p>

<% end %>