<!DOCTYPE html>
<html>
<head>
  <title>Thermo Application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>


  <nav>
    <a href="http://github.com/wjin0352">Github</a>
    <!--<a href="http://github.com/wjin0352">Work</a>-->
    <a href="https://www.linkedin.com/in/wonyong">Linkedin</a>
    <a href="https://becomingadeveloper.wordpress.com/">About Me</a>
  </nav>

  <h1><a href="#contact"><span id="title">Thermo Home</span></a></h1>
  <p class="kicker">Designer // Developer // Creator</p>

</header>


<!--<section class="box-white container-fluid">-->
  <!--<div class="wrapper padding-all">-->
    <!--<div class="container">-->



    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--<section class="box-grey container-fluid">-->
  <!--<div class=" wrapper padding-all">-->
    <!--<div class="container">-->
      <!--<div class="row">-->


      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

    <section id="contact" class="box-white">
      <nav class="navbar navbar-default">

        <div class="container" id="user_nav">
          <% if user_signed_in? %>
              <p align="center">Signed in as <%= current_user.email %>.  Not you?
                <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
          <% else %>
              <%= link_to 'Sign Up', new_user_registration_path %> Or<%= link_to 'Sign in', new_user_session_path %>
          <%end%>
          <hr>
        </div>
      </nav>
      <!-- flash message area for devise gem -->
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= yield %>
      <a href="#" class="scrollup">Go to top</a>
      <br/>
      <div
          class="fb-like"
          data-share="true"
          data-width="450"
          data-show-faces="true">
      </div>
    </section>

<!--<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>-->

<%= link_to "Facebook Login", '/auth/facebook' %>


    <footer>
      <div class="lockup">
        <div class="content-wrap">
          <nav>
            <a href="http://github.com/wjin0352">Github</a>
            <!--<a href="">Work</a>-->
            <a href="https://www.linkedin.com/in/wonyong">Linkedin</a>
            <a href="https://becomingadeveloper.wordpress.com/">About Me</a>
          </nav>

          <p class="copyright">All content copyright 2014</p>
        </div>
      </div>
    </footer>

</body>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });
            $('.scrollup').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return false;
            });
        });
    </script>

    <!-- omniauth facebook script -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '1451077395183447',
                xfbml      : true,
                version    : 'v2.3'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</html>
